[Unit]
Description=Monitoring system and time series database
Documentation=https://prometheus.io/docs/introduction/overview/
Wants=basic.target
After=basic.target network.target

[Service]
Restart=always
User=prometheus
Group=prometheus
EnvironmentFile=/etc/default/prometheus
ExecStart=/usr/bin/prometheus $ARGS
ExecReload=/bin/kill -HUP $MAINPID
RestartSec=20s
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target