# -*- coding: utf-8 -*-
# vim: ft=jinja

{% import_yaml "prometheus/common_defaults.yaml" as common_defaults with context %}
{% import_yaml "prometheus/common_versionmap.yaml" as common_versionmap with context %}

{% set prometheus_common = salt['grains.filter_by'](dmap, merge=salt['pillar.get']('prometheus:common:lookup', salt['grains.get']('prometheus:common:lookup', {}), merge=True), base='default') %}

{% with %}

{% if prometheus_common.version is defined and prometheus_common.version in vmap.versions.keys() %}
    {% set server_version_id = prometheus_common.version %}
    {% set server_version_source = vmap.versions[prometheus_common.server.version]["source"] %}
    {% set server_version_source_hash = vmap.versions[prometheus_common.server.version]["source_hash"] %}
{% else %}
    {% set server_version_id = prometheus_common.version %}
    {% set server_version_source = vmap.versions[vmap.versions.latest]["source"] %}    
    {% set server_version_source_hash = vmap.versions[vmap.versions.latest]["source_hash"] %}
{% endif %}


{% do prometheus_common.update({
  'server_version_id': server_version_id,
  'server_version_source': server_version_source,
  'server_version_source_hash': server_version_source_hash
}) %}
{% endwith %}