{%- from "prometheus/exporter/haproxy/map.jinja" import prometheus_exporter_haproxy with context -%}
[Unit]
Description=Prometheus exporter for haproxy metrics
Documentation=https://github.com/prometheus/haproxy_exporter

[Service]
Restart=always
User=prometheus
EnvironmentFile={{ prometheus_exporter_haproxy.exporter.haproxy.defaults_file }}
ExecStart=/usr/bin/haproxy_exporter $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target