# Defaults for Alertmanager

ARGS=--config.file="{{ config_file }}" --web.console.templates="{{ web_console_templates }}" --web.console.libraries="{{ web_console_libraries }}" --storage.tsdb.path="{{ storage_local_path }}"

# AWS Settings you may need
# AWS_ACCESS_KEY_ID = empty
# AWS_SECRET_ACCESS_KEY = empty
