[
  {
    "targets": [
      {%- set comma = False -%}
      {%- for host, data in salt['mine.get']('*', 'grains.items')['prometheus_node_exporter'].items() -%}
      {%- if comma == True -%}
,{%- endif %}
      "{{ data }}" 
      {%- set comma = True -%}
{%- endfor -%}
    ],
    "labels": {
      "targetlist": "salt-sd"
    }
  }
]