[
  {
    "targets": [
      {%- for k, v in salt['mine.get']('*', 'grains.items').items() -%}
"{{ v['prometheus_node_exporter'] }}"
{%- if not loop.last -%}
, 
{%- endif -%}
{%- endfor -%}
    ],
    "labels": {
      "targetlist": "salt-sd"
    }
  }
]